$background-color: #f9f4f3; // Page background color

$primary-text-color: #313B90; // Text color for all the primary text
$secondary-text-color: #7178B8; // Text color for all the secondary text
$primary-action-color: #EC4962; // Primary action color
