@import "../styles/variables.scss";

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.main-nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-option {
    color: $primary-text-color;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2em;
}